
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(rgba(39, 31, 26, 0.952), rgba(27, 51, 61, 0.548)), url("https://images.unsplash.com/photo-1665935421376-062b11889523?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1029&q=80");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
.li-menu{
  display: flex;
  flex-wrap:inherit;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #666262;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 24px;
  width: 24px;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.959);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 200px;
  right: 10px;
}
.font-menu{
  font-size:xx-large;
  color: #ffff;
  padding-right: 30px;

}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 9999;
}
.item-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}
.item-menu img {
  height: auto;
  width: 38px;
}
#more-menu:hover {
  background: transparent;
}
#more-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9ccd3;
  margin-left: -10px;
  border-radius: 4px;
  padding: 10px 35px;
  max-width: 50px;
  color: #1c3d68;
  font-size: 1em;
}
#more-menu a {
  display: flex;
  text-decoration: none;
  margin: -8px 20px;
  margin-right: 10px;
  max-width: 50px;
  color: #1c3d68;
}

/* END Menu */

#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}


#nav-texts {
  padding-top: 4px;
}

main {
  margin-top: 10vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 600PX;
  height: 100px;
  line-height: 100px;
  font-size: 4em;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
}
.texto-cidades{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  min-height: 92px;
  max-height: 92px;
  margin-bottom: 30px;
  line-height: 100px;
  font-size: 3em;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
}

#banner img {
  min-width: 272px;
  max-width: 272px;
  min-height: 92px;
  max-height: 92px;
  margin-bottom: 25px;
  line-height: 92px;
}

.search-box {
  display: flex;
  width: 80vw;
  max-width: 600px;
  margin: auto;
  padding: 9.5px;
  border-radius: 10px;
  border: 1px #dadce0 solid;
}

.search-box input {
  background-color: rgba(238, 245, 245, 0);
  align-self: stretch;
  outline: none;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.6rem;
  width: 100%;
  color: #fff
}
 

.search-box input {
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 5px;
  border-color: #f8f9fa79;
  background-color: #f8f9fa69;
  color: #000000;
  font-size: 1.5rem;
  padding: 10px;
  margin: 8px;
}

button:hover {
  border: #dadce0 solid 2px;
}

main img {
  height: 24px;
}

section{
  width: 100%; 
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 130px;
}
article{
  width: 90%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  margin: 0 auto;
  margin-bottom: 150px;
  z-index: 999;
}
h2{
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
h2.busca-titulo-2{
  width: 75%;
  display: flex;
  position: absolute;
  margin-top: -300px;
  margin-bottom: 50px;
  left: 160px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
h2.busca-titulo-3{
  width: 75%;
  display: flex;
  position: absolute;
  margin-top: -200px;
  margin-bottom: 50px;
  left: 160px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 200px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #c3c6ce59;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: #fff;
}
.card:hover {
  border-color: #ccc;
  box-shadow: 3px 3px 5px #ccc;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  padding: 30px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.anuncio img{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 280px;
  height: 160px;
 padding: 20px 10px;
  margin-top: -5px;
  transition: 1s ease
}
.anuncio:hover img{
  transform: scale(2);
  z-index: 99999999999;
  position: relative;
}
.card--hover h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;  
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: 1px solid  #ccc;
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #f1f7f4;
  color: #1a1a1a;
}

footer {
  display: flex;
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952));
  border-top: 0.5px solid #77787a;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #6f6f6f;
}

#footer-direita {
  margin-left: auto;
}

#footer-esquerda {
  margin-right: auto;
}

footer li {
  margin: 15px;
}

footer a {
  color: #6f6f6f;
}

@media (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #footer-direita {
    margin-right: auto;
    margin-left: auto;
  }

  #footer-esquerda {
    margin-right: auto;
    margin-left: auto;
  }
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
    z-index: 9999999999;
	}

.flip-container, .front, .back {
  width: 280px;
  height: 160px;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s ;
	transform-style: preserve-3d;  
	position: relative;
  cursor: pointer;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 0;
	/* for firefox 31 */
	transform:  rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  z-index: 1;
}




/*dark mode*/

:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #ec5840;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #899095;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
}








