@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
body{
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952)), url("../img/background/background.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
.li-menu{
  display: flex;
  flex-wrap:inherit;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 24px;
  width: 24px;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.959);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 200px;
  right: 10px;
}
.font-menu{
  font-size:xx-large;
  color: #ffff;
  padding-right: 30px;

}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 9999;
}
.item-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu:hover {
  background-image: url('../img/background.png');
}
.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}
.item-menu img {
  height: auto;
  width: 38px;
}
#more-menu:hover {
  background: transparent;
}
#more-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9ccd3;
  margin-left: -10px;
  border-radius: 4px;
  padding: 10px 35px;
  max-width: 50px;
  color: #1c3d68;
  font-size: 1em;
}
#more-menu a {
  display: flex;
  text-decoration: none;
  margin: -8px 20px;
  margin-right: 10px;
  max-width: 50px;
  color: #1c3d68;
}

/* END Menu */

#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}


#nav-texts {
  padding-top: 4px;
}

main {
  margin-top: 10vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 100px;
  font-size: 4em;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
}



main img {
  height: 24px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
article{
  width: 80%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 10px 20px;
}

.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 200px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #c3c6ce59;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: #fff;
}
.card:hover {
  border-color: #ccc;
  box-shadow: 3px 3px 5px #ccc;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  padding: 30px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;  
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: 1px solid  #ccc;
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #f1f7f4;
  color: #1a1a1a;
}

footer {
  display: flex;
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952)), url("../img/background/background.png");
  border-top: 0.5px solid #77787a;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-direita {
  margin-left: auto;
}

#footer-esquerda {
  margin-right: auto;
}

footer li {
  margin: 15px;
}

footer a {
  color: #6f6f6f;
}

@media (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #footer-direita {
    margin-right: auto;
    margin-left: auto;
  }

  #footer-esquerda {
    margin-right: auto;
    margin-left: auto;
  }
}

/* calculadora*/
.warning {
  background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8c5059;
  font-weight: 400;
  font-size: 2em;
  margin: 0 auto 2em;
  max-width: 9em;
}
.calculator {
  font-size: 25px;
  margin: 0 auto;
  width: 20em;
  margin-bottom: 100px;
}
.calculator::before, .calculator::after {
  content: " ";
  display: table;
}
.calculator::after {
  clear: both;
}

/* Calculator after dividing by zero */
.broken {
  -webkit-animation: broken 2s;
          animation: broken 2s;
  transform: translate3d(0, -2000px, 0);
  opacity: 0;
}

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: 1px solid #dadce0;
  color: #1c3d68;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s;
}
button:hover {
  background: #1c3d68;
  color: #ffff;
}
button:focus {
  outline: 0;
  /* The value fade-ins that appear */
}
button:focus::after {
  -webkit-animation: zoom 1s;
          animation: zoom 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  content: attr(data-num);
  cursor: default;
  font-size: 150px;
  position: absolute;
  top: 1.5em;
  left: 50%;
  text-align: center;
  margin-left: -24px;
  opacity: 0;
  width: 48px;
  color:#1c3d68;
}

/* Same as above, modified for operators */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* Same as above, modified for result */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}

/* Reset button */
.reset {
  background: rgba(201, 120, 116, 0.28);
  color: #c97874;
  font-weight: 400;
  margin-left: -77px;
  padding: 0.5em 1em;
  position: absolute;
  top: -20em;
  left: 50%;
  width: auto;
  height: auto;
  /* When button is revealed */
}
.reset:hover {
  background: #c97874;
  color: #100a1c;
}
.reset.show {
  top: 20em;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

/* Animations */
/* Values that appear onclick */
@-webkit-keyframes zoom {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  70% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
/* Division by zero animation */
@-webkit-keyframes broken {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: translate3d(0, 2000px, 0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes broken {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: translate3d(0, 2000px, 0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, -2000px, 0);
  }
}
/* Reset button fadein */
@-webkit-keyframes fadein {
  0% {
    top: 20em;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    top: 20em;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }

  .viewer {
    width: 8.5em;
  }

  button {
    margin: 0.5em;
  }
}











