* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
body{
  background-image:url('../img/background.png');
}

header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 24px;
  width: 24px;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  margin: 15px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.555);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 220px;
  right: 0px;
}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
}
.item-menu a {
  flex-direction: column;
  margin: 0px !important;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu:hover {
  background: #1f80ff1f;
}
.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}
.item-menu img {
  height: auto;
  width: 38px;
}
#more-menu:hover {
  background: transparent;
}
#more-menu span {
  border: 1px solid #dadce0;
  margin: 16px 0 20px 0;
  border-radius: 4px;
  padding: 10px 24px;
  max-width: 150px;
  color: #1a73e8;
  font-size: 1em;
}
#more-menu a {
  margin: 0px !important;
  text-decoration: none;
}

/* END Menu */

#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}


#nav-texts {
  padding-top: 4px;
}

main {
  margin-top: 10vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 4em;
  color: #1c3d68;
}

#banner img {
  min-width: 272px;
  max-width: 272px;
  min-height: 92px;
  max-height: 92px;
  margin-bottom: 25px;
  line-height: 92px;
}

.search-box {
  display: flex;
  width: 80vw;
  max-width: 600px;
  margin: auto;
  padding: 9.5px;
  border-radius: 10px;
  border: 1px #dadce0 solid;
}

.search-box input {
  background-color: rgba(238, 245, 245, 0);
  align-self: stretch;
  outline: none;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.6rem;
  width: 100%;
}

.search-box input {
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 5px;
  border-color: #f8f9fa79;
  background-color: #f8f9fa69;
  color: #000000;
  font-size: 1.5rem;
  padding: 10px;
  margin: 8px;
}

button:hover {
  border: #dadce0 solid 2px;
}

main img {
  height: 24px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
article{
  width: 80%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 10px 20px;
}
h2.busca-titulo{
  width: 75%;
  display: flex;
  position: absolute;
  margin-top: -300px;
  margin-bottom: 50px;
  left: 160px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
h2.busca-titulo-2{
  width: 75%;
  display: flex;
  position: absolute;
  margin-top: -300px;
  margin-bottom: 50px;
  left: 160px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
h2.busca-titulo-3{
  width: 75%;
  display: flex;
  position: absolute;
  margin-top: -200px;
  margin-bottom: 50px;
  left: 160px;
  color: #797878;
  font-weight: 300;
  border-bottom: 1px solid rgba(204, 204, 204, 0.678);
  padding: 10px ;
}
.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 200px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #c3c6ce59;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: #fff;
}
.card:hover {
  border-color: #ccc;
  box-shadow: 3px 3px 5px #ccc;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  padding: 30px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;  
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: 1px solid  #ccc;
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #f1f7f4;
  color: #1a1a1a;
}

footer {
  display: flex;
  background-color: #f2f2f2;
  border-top: 0.5px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-direita {
  margin-left: auto;
}

#footer-esquerda {
  margin-right: auto;
}

footer li {
  margin: 15px;
}

footer a {
  color: #6f6f6f;
}

@media (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #footer-direita {
    margin-right: auto;
    margin-left: auto;
  }

  #footer-esquerda {
    margin-right: auto;
    margin-left: auto;
  }
}

/*  global classes */

.mileage__calculations {
  margin: 0;
  margin-top: -100px;
  font-size: 3rem;
  font-weight: inherit;
}
.mileage__calculations small {
  font-size: 0.6em;
  color: #3ab0ff;
}
.mileage-map {
  display: block;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90vh;
  margin: auto auto 1rem;
  overflow: visible;
}
.mileage-map__states {
  stroke: #97a7b6;
  stroke-width: 2;
  fill: #1c3d68;
}
.marker {
  fill: #05254e;
  stroke: #FFF;
  stroke-width: 5;
  cursor: pointer;
  transition: opacity 0.3s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.marker > * {
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.5, 1);
}
.marker text {
  stroke: none;
  fill: #FFF;
  font-family: inherit;
  font-size: 28px;
  font-weight: 200;
}
.marker-fade-leave-active,
.marker-fade-enter-active {
  transition: opacity 0.3s linear;
}
.marker-fade-enter,
.marker-fade-leave-to {
  opacity: 0;
}
.marker--current {
  opacity: 0.8;
  pointer-events: none;
}
.marker--current > * {
  transform: scale(0.8);
}
/* ////////////////////////////////////////////////////////////////////////// */
.airport {
  fill: #FFF;
  stroke-width: 2;
  stroke: transparent;
  transition: stroke 0.3s linear;
}
.airport:hover {
  stroke: rgba(255, 255, 255, 0.3);
}
.airport--current,
.airport--current:hover {
  stroke: #FFF;
  stroke: rgba(255, 255, 255, 0.8);
}
.airport__range {
  fill: transparent;
  cursor: pointer;
}
.marker-connector {
  fill: none;
  stroke: #FFF;
  stroke-width: 3;
  stroke-dasharray: 6 6;
  pointer-events: none;
  -webkit-animation: marching-ants 1s linear 0s infinite;
          animation: marching-ants 1s linear 0s infinite;
}
@-webkit-keyframes marching-ants {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12;
  }
}
@keyframes marching-ants {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12;
  }
}
.airplane {
  pointer-events: none;
  fill: #FFF;
  opacity: 0;
}











