@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1F1F1F;
  background: linear-gradient(rgba(39, 31, 26, 0.952), rgba(15, 26, 31, 0.979)), url("../img/background.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.btn{
  background-color: rgba(0, 0, 0, 0.062);
  font-size: 30px;
  border: none;
  top: 15px;
  float: right; 
  right: 20px;
position: relative;
}
.btn:hover{
  background: none;
  border: none;
}
header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 0px 0px;
  background: rgba(51, 50, 50, 0.842);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 200px;
  right: 10px;
}
.font-menu{
  font-size:xx-large;
  color: #ffff;
  padding-right: 30px;

}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 9999;
}
.item-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu a:hover {
  color: #fff;
}
.item-menu span {
  margin: 2px 0px 0px 0px;
  font-size: .8em;
  color: #fff;
}
#more-menu:hover {
  background: transparent;
  text-decoration: none;
}
#more-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #c9ccd3;
  margin-left: -10px;
  border-radius: 4px;
  padding: 3px 35px;
  max-width: 50px;
  color: #fff;
  font-size: .8em;
  text-decoration: none;
}

/* END Menu */




h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
  min-height: 92px;
  max-height: 92px;
  line-height: 100px;
  font-size: 3em;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
}

.mapa {
  width: 100%;
  margin-top: 20px;
  left: -90px;
}
.mapa svg#mapa-svg {
  width: 100%;
  height: 0 auto;
}
.mapa svg#mapa-svg .estado {
  pointer-events: all;
  cursor: pointer;
  fill: #373737;
}
.mapa svg#mapa-svg .estado.active {
  fill: #70706d;
}
.mapa svg#mapa-svg .estado:hover {
  fill: #70706d;
}
.mapa svg#mapa-svg .st27 {
  fill: #464545;
}

.boxes {
  width: 80%;
  margin-top: 100px;
}
select{
  background: rgba(92, 88, 88, 0.192);
  color: #fff;
  padding: 5px;
}
.boxes h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.boxes .box {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 0;
  color: #fff;
}
.boxes .box h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.boxes .box.on {
  opacity: 1;
  display: block;
  height: auto;
}
.cidades-ul{
  width: 100%;
  margin-left: 20px;
  color: #fff;
}
.cidades-ul a{
  color: #fff;
}
.cidades-ul a:hover{
  color: #70706d;
}