
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
body{
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952)), url("../img/background/background.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
.li-menu{
  display: flex;
  flex-wrap:inherit;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 24px;
  width: 24px;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.959);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 200px;
  right: 10px;
}
.font-menu{
  font-size:xx-large;
  color: #ffff;
  padding-right: 30px;

}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 9999;
}
.item-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu:hover {
  background-image: url('../img/background.png');
}
.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}
.item-menu img {
  height: auto;
  width: 38px;
}
#more-menu:hover {
  background: transparent;
}
#more-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9ccd3;
  margin-left: -10px;
  border-radius: 4px;
  padding: 10px 35px;
  max-width: 50px;
  color: #1c3d68;
  font-size: 1em;
}
#more-menu a {
  display: flex;
  text-decoration: none;
  margin: -8px 20px;
  margin-right: 10px;
  max-width: 50px;
  color: #1c3d68;
}

/* END Menu */

#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}


#nav-texts {
  padding-top: 4px;
}

main {
  margin-top: 10vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 100px;
  font-size: 4em;
  color: #ffff;
}


main img {
  height: 24px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
article{
  width: 80%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 10px 20px;
}

.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 200px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #c3c6ce59;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: #fff;
}
.card:hover {
  border-color: #ccc;
  box-shadow: 3px 3px 5px #ccc;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  padding: 30px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;  
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: 1px solid  #ccc;
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #f1f7f4;
  color: #1a1a1a;
}

footer {
  display: flex;
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952)), url("../img/background/background.png");
  border-top: 0.5px solid #77787a;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-direita {
  margin-left: auto;
}

#footer-esquerda {
  margin-right: auto;
}

footer li {
  margin: 15px;
}

footer a {
  color: #6f6f6f;
}

@media (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #footer-direita {
    margin-right: auto;
    margin-left: auto;
  }

  #footer-esquerda {
    margin-right: auto;
    margin-left: auto;
  }
}

/*  global classes */

.btn {
  width: 20rem;
  text-transform: uppercase;
  color: #312f2f;
  padding: 1rem 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  transition: var(--transition);
  font-size: 2rem;
  border: 2px solid rgba(204, 204, 204, 0.747);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: 20px;
}
.btn:hover {
  border: 2px solid #1c3d68;
  color: #ffff;
  background: #1c3d68;
}
/* section */
.section-center {
  width: 90vw;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  padding: 5rem 0;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Lorem Ipsum
===============
*/
.lorem-h3 {
  width: 100%;
  font-size: 4em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}
.lorem-form {
  width: 100%;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 2.5rem;
  color: #fff;
}
input {
  padding: 0.25rem 1rem;
  width: 6rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(145, 141, 141);
  border: none;
  margin: 0 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #3a393948;
}
.result {
  margin-bottom: 2rem;
}
.lorem-text{
  width: 50%;
  text-align: justify;
  font-family: Arial, sans-serif; 
  font-size: 1.7em;
  color: #fff;
}











