@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
	--hue: 223;
	--bg1: hsl(var(--hue),10%,90%);
	--bg2: hsl(var(--hue),10%,100%);
	--fg1: hsl(var(--hue),10%,10%);
	--fg2: hsl(var(--hue),10%,30%);
	--primary1: hsl(var(--hue),90%,45%);
	--primary2: hsl(var(--hue),90%,55%);
	--primary3: hsl(var(--hue),90%,65%);
	--primary4: hsl(var(--hue),90%,75%);
	--primary5: hsl(var(--hue),90%,85%);
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
body{
  background: linear-gradient(rgba(39, 31, 26, 0.979), rgba(23, 38, 44, 0.952)), url("../img/background/background.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

header {
  margin: 6px;
  display: flex;
}

nav {
  display: flex;
  margin-left: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
.li-menu{
  display: flex;
  flex-wrap:inherit;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

nav img {
  height: 24px;
  width: 24px;
}
/* MENU */

#menu-label {
  cursor: pointer;
}
#check-menu {
  display: none;
}
#menu-itens {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.959);
  position: absolute;
  border-radius: 5px;
  flex-wrap: wrap;
  display: none;
  width: 200px;
  right: 10px;
}
.font-menu{
  font-size:xx-large;
  color: #ffff;
  padding-right: 30px;

}
#check-menu:checked + #menu-itens {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 9999;
}
.item-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 auto;
  display: flex;
  padding: 10px;
}
.item-menu:hover {
  background-image: url('../img/background.png');
}
.item-menu span {
  margin: 5px 0px 0px 0px;
  font-size: 1em;
}
.item-menu img {
  height: auto;
  width: 38px;
}
#more-menu:hover {
  background: transparent;
}
#more-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9ccd3;
  margin-left: -10px;
  border-radius: 4px;
  padding: 10px 35px;
  max-width: 50px;
  color: #1c3d68;
  font-size: 1em;
}
#more-menu a {
  display: flex;
  text-decoration: none;
  margin: -8px 20px;
  margin-right: 10px;
  max-width: 50px;
  color: #1c3d68;
}

/* END Menu */

#nav-imgs,
#nav-texts {
  margin: 10px;
  display: flex;
}

#nav-imgs a,
#nav-texts a {
  margin-left: 20px;
  text-align: center;
}


#nav-texts {
  padding-top: 4px;
}

main {
  margin-top: 10vh;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 100px;
  font-size: 4em;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
}

main img {
  height: 24px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
article{
  width: 80%;
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 10px 20px;
}

.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 200px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #c3c6ce59;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: #fff;
}
.card:hover {
  border-color: #ccc;
  box-shadow: 3px 3px 5px #ccc;
}
.card:hover .card--hover {
  opacity: 1;
}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}
.card--hover {
  padding: 30px 0;
  text-align: center;
  opacity: 0.6;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.card--hover p {
  margin: 10px 0 0;  
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  border: 1px solid  #ccc;
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #f1f7f4;
  color: #1a1a1a;
}

footer {
  display: flex;
  background-color: #f2f2f2;
  border-top: 0.5px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-direita {
  margin-left: auto;
}

#footer-esquerda {
  margin-right: auto;
}

footer li {
  margin: 15px;
}

footer a {
  color: #6f6f6f;
}

@media (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #footer-direita {
    margin-right: auto;
    margin-left: auto;
  }

  #footer-esquerda {
    margin-right: auto;
    margin-left: auto;
  }
}

/*  global classes */

.container {
  margin: 0 auto;
  width: 400px;
  height: 600px;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat";
  background-color: #00000057;
}
.container h2.title {
  font-size: 1.75rem;
  margin: 10px -5px;
  margin-bottom: 30px;
  color: #1c3d68;
}

.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.result__info {
  position: absolute;
  bottom: 4px;
  color: #1c3d68;
  font-size: 0.8rem;
  transition: all 150ms ease-in-out;
  transform: translateY(200%);
  opacity: 0;
}
.result__info.right {
  right: 8px;
  font-size: 1rem;
}
.result__info.left {
  left: 8px;
  font-size: 1rem;
}
.result__viewbox {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  color: #1c3d68;
  text-align: center;
  line-height: 65px;
}
.result #copy-btn {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 38px;
  height: 38px;
  background: #ffff;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  z-index: 2;
}
.result #copy-btn:active {
  box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}
.result:hover #copy-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.35);
}

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  transform: translateY(-50%);
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  user-select: none;
}

.options {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(66, 63, 63, 0.473);
  border-radius: 8px;
  margin: 30px 0;
  color: #fff;
}
.range__slider::before, .range__slider::after {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}
.range__slider::before {
  content: attr(data-min);
  left: 10px;
}
.range__slider::after {
  content: attr(data-max);
  right: 10px;
}
.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: #fff;
}

#slider {
  -webkit-appearance: none;
  width: calc(100% - (70px));
  height: 2px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  transform: scale(1.2);
}
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

.settings {
  position: relative;
  height: auto;
  widows: 100%;
  display: flex;
  flex-direction: column;
}
.settings .setting {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  background: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  color: #1c3d68;
  margin-bottom: 8px;
}
.settings .setting input {
  opacity: 0;
  position: absolute;
}
.settings .setting input + label {
  user-select: none;
}
.settings .setting input + label::before, .settings .setting input + label::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.settings .setting input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.788);
}
.settings .setting input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #686666;
}
.settings .setting input:checked + label:before {
  background: #272729d3;
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.settings .setting input:checked + label:after {
  right: 14px;
}
.settings .setting input:focus + label:before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}
.settings .setting input:disabled + label:before, .settings .setting input:disabled + label:after {
  cursor: not-allowed;
}
.settings .setting input:disabled + label:before {
  background: #47474b;
}
.settings .setting input:disabled + label:after {
  background: #474646;
}

.btn.generate {
  user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 8px;
  color: #ffff;
  border: none;
  background-image: linear-gradient(135deg, #6d7c7b9d 0%, #1f2222b9 100%);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 150ms ease;
}
.btn.generate:active {
  transform: translateY(-3%);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}

.support {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}





@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-20deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}











